<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    <div class="navContainer">
      <button class="navMenu">Home</button>
      <button class="navMenu">Registration</button>
      <button class="navMenu">Login</button>
      <button class="navMenu" id="profButton">Profile</button>
    </div>
    <!-- do a form here (or a ul) that has editable fields for name and number and email, maybe do a light and dark mode too-->
    <div class="backsave"> 
        <button type="back" form="myForm" value="Back">Back</button>
        <button type="back" form="myForm" value="Save">Save</button>
    </div>
    
</body>
<script src="../js/profile.js"></script>
</html>