/* Global styling to be used as a baseline in the event a browser does not support the pages respective stylesheet */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}