* .navContainer {
    text-align: center;
  }
  button{
    cursor: pointer;
  }
  .navMenu {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
  }
  #profButton {
    font-weight: bold;
    background-color: rgb(164, 158, 158);
  }
  .backsave {
    text-align: center;

  }
  .styleSelect{
    outline: auto;
    color: white;
  }

  body{
    background-color: black;
  }