* 
/* Most of this is the same css used in the rest of the pages, there are no real major differences*/
.navContainer {
  text-align: center;
}
button {
  cursor: pointer;
}
.navMenu {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
}

#regButton {
  font-weight: bold;
  background-color: rgb(164, 158, 158);
}

#myForm {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(164, 158, 158);

  padding: 20px;
}
label {
  color: white;
}

.subresback {
  text-align: center;
}

nav {
  background: #007bff; /*primary color */
  color: #fff;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav ul li a#profileclicked {
  color: #663399;
}
