<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged in Successfully!</title>
    <link rel="stylesheet" href="/css/loggedin.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
      <h1>You are logged in!</h1>
    </nav>
    <button type="button" onclick="goBack()" form="login">Logout</button>
  </body>
  <script src="/js/loggedin.js"></script>
</html>
