<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav>
    <h1>Login here!</h1>
    <form id="login">
      <label for="userName">Email: </label><br />
      <input type="text" id="userName" name="userName" required />
      <br /><br />
      <label for="passWord">Date of Birth: </label><br />
      <input type="date" name="dateOfBirth" id="DOB" required />
      <br /><br />
    </form>
    <button type="submit" form="login" value="submit">Submit</button>
    <button type="button" onclick="goBack()" form="login">Back</button>
    <br /><br />
    <div id="img">
      <img
        src="images/connectedglobal.jpg"
        alt="photo"
        height="800"
        width="1000"
      />
    </div>
    <br /><br /><br />
    <h3>Get connected with the rest of the world!</h3>
    <p>
      Our website is dedicated to providing you with an unbiased and easy-to-use
      experience. We aspire to give you the latest news and all the facts as
      fast as we can and as accurately as possible! We thank you for your
      decision to join our site!
    </p>
  </body>
  <script src="/js/login.js"></script>
</html>
