<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login here!</h1>
    <form id="login">
        <label for="userName">Username: </label><br />
      <input type="text" id="userName" name="userName" required />
      <br /><br />
      <label for="passWord">Password: </label><br />
      <input type="text" id="passWord" name="passWord" required />
      <br /><br />
    </form>
    <button type="button" onclick="goBack()" form="login" value="back">Back</button>
    
</body>
</html>