<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile</title>
    <link rel="stylesheet" href="../css/profile.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/registration">Registration</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
    <!-- do a form here (or a ul) that has editable fields for name and number and email, maybe do a light and dark mode too-->
    <div id="profile">
      <ol class="proflist">
        <li class="proflist-item" data-label="First name">John</li>
        <li class="proflist-item" data-label="Last name">Doe</li>
        <li contenteditable="true" class="proflist-item" data-label="Email">
          john.doe@example.com
        </li>
        <li
          contenteditable="true"
          class="proflist-item"
          data-label="Phone number"
        >
          123-456-7890
        </li>
        <li contenteditable="true" class="proflist-item" data-label="Address">
          123 Maple Street
        </li>
      </ol>
    </div>

    <div class="backsave">
      <button type="button" onclick="goBack()">Back</button>
      <button type="back" form="myForm" value="Save">Save</button>
    </div>
  </body>
  <script src="../js/profile.js"></script>
</html>
