<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Profile</title>
    <link rel="stylesheet" href="../css/profile.css" />
  </head>
  <body>
    <div class="navContainer">
      <button class="navMenu">Home</button>
      <button class="navMenu">Registration</button>
      <button class="navMenu">Login</button>
      <button class="navMenu" id="profButton">Profile</button>
    </div>
    <!-- do a form here (or a ul) that has editable fields for name and number and email, maybe do a light and dark mode too-->
    <div id="profile">
      <ol class="proflist">
        <li class="proflist-item" data-label="First name">John</li>
        <li class="proflist-item" data-label="Last name">Doe</li>
        <li contenteditable="true" class="proflist-item" data-label="Email">
          john.doe@example.com
        </li>
        <li
          contenteditable="true"
          class="proflist-item"
          data-label="Phone number"
        >
          123-456-7890
        </li>
        <li contenteditable="true" class="proflist-item" data-label="Address">
          123 Maple Street
        </li>
      </ol>
    </div>

    <div class="styleSelect">
      <h2>Visual Preferences</h2>
      <input type="radio" id="light" name="lORd" value="LIGHT" />
      <label for="light">Light Mode</label><br />
      <input type="radio" id="dark" name="lORd" value="DARK" />
      <label for="dark">Dark Mode</label><br />
    </div>

    <div class="backsave">
      <button type="button" onclick="goBack()">Back</button>
      <button type="back" form="myForm" value="Save">Save</button>
    </div>
  </body>
  <script src="../js/profile.js"></script>
</html>
